@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 16px;
}

#snowflakeContainer {
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}

.snowflake {
	position: fixed;
	background-color: white;
	user-select: none;
	z-index: 1000;
	pointer-events: none;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.body_overflow-hidden {
	overflow: hidden;
}

.container {
	max-width: 1000px;
	padding: 0 10px;
	margin: 0 auto;
	display: block;
	width: 100%;
}

.page_new-year {
	min-height: 100%;
	/* height: 100%; */
	/* min-height: 100vh; */
	background-image: url('./assets/img/ian-schneider-dqMxDqdhg_4-unsplash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.ornament-icon::before {
	background: url('./assets/img/ornaments/ornament.svg') 0 0 no-repeat;
	background-size: 100px;
	content: '';
	padding: 0 0 100px 100px;
	position: relative;
	top: 3px;
}

/* .intro */

.intro {
	padding: 40px 0;
}

/* .container_intro {
	height: 100%;
} */

.intro__wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-family: fantasy;
	font-size: 35px;
	color: black;
	font-weight: 700;
}

/* .intro */


/* .calendar */

.calendar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 1em;
	font-size: 30px;
}

.calendar__day {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 0.7em;
	border: dashed rgba(100, 100, 100, 1) 0.125em;
	cursor: pointer;
	height: 185px;
	user-select: none;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-property: background-color, transform;
}

.calendar__day.disabled:hover:not(.calendar__day_active) {
	pointer-events: none;
}

.calendar__day:hover:not(.calendar__day_active),
.calendar__day:hover:not(.disabled) {
	background-color: rgba(0, 0, 0, 0.8);
	transform: scale(1.1);
}

.calendar__day .calendar__day-preview {
	color: white;
}

.calendar__day_active {
	cursor: auto;
	user-select: auto;
	padding: 0;
}

.calendar__day_active .calendar__day-preview {
	display: none;
}

.calendar__day_active .calendar__popup {
	display: block;
}

.calendar__popup {
	display: none;
}

@media (max-width: 600px) {
	.calendar {
		grid-template-columns: 1fr 1fr;
	}
}

/* .calendar */


/* .popup */

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	visibility: hidden;
	opacity: 0;
	overflow-x: hidden;
	overflow-y: auto;
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;
	transition-property: opacity, visibility;
}

.popup_open {
	visibility: visible;
	opacity: 1;
}

.popup__close {
	color: #aaa;
	cursor: pointer;
	font-size: 28px;
	position: absolute;
	right: 15px;
}

.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 30px;
}

.popup__content {
	max-width: 800px;
	width: 100%;
	background-color: white;
	color: black;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	position: relative;
}

.popup__title {
	margin: 0;
}

.popup__description {
	margin: 0;
	padding: 0 10px;
	font-size: 14px;
	background-color: white;
	color: black;
	font-family: sans-serif;
}

.calendar__popup-img {
	aspect-ratio: 16/9;
}

.calendar__popup-description {
	padding: 10px;
	overflow-wrap: break-word;
	background-color: white;
	color: black;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: 85px
}

/* .popup */